.welcome-container {
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

.welcome-container h1 {
    font-size: 2.5rem;
    color: var(--clr);
    margin: 0;
}

.welcome-container p {
    font-size: 1.2rem;
    color: var(--bg-dark);
    max-width: 500px;
}